<div class="rest-message">
    <div class="actor flexcol" data-actor-id={{owner.id}}>
        <div class="flexrow">
            <div class="rest-message-sidebar">
                <img src="{{owner.img}}" title="{{owner.name}}" alt="{{owner.name}}" width="75" height="93">
            </div>
            <div class="rest-message-body">
                <img src={{img.src}}
                     title="{{localize img.title}}"
                     alt="{{localize img.alt}}">
                <p>{{{message}}}</p>
            </div>
        </div>
    </div>
</div>