<div id="miserable-not-miserable">
    <div class="mandatory">
        <h4>{{localize "tor2e.chat.taskCheck.options.miserable-not-miserable"}}</h4>

        <div class="form-group centered">
            <!-- Rounded switch -->
            <div class="flexrow best-worst">
                <span class="right-align">{{localize "tor2e.chat.taskCheck.options.not-miserable"}}</span>
                <label for="miserable-roll" class="switch">
                    <input id="miserable-roll" type="checkbox" name="miserableRoll"
                           value="{{miserableRoll}}" {{checked miserableRoll}}>
                    <span class="slider round"></span>
                </label>
                <span class="left-align">{{localize "tor2e.chat.taskCheck.options.miserable"}}</span>
            </div>
        </div>
    </div>
</div>