<div class="section secondary-section">
    <h4 class="title">{{localize "tor2e.actors.stats.rest"}}</h4>
    <div class="flexrow rest-actions">
        <div class="rest-action flexcol">
            <a class="short-rest" title="{{localize "tor2e.sheet.actions.rest.short.description"}}">
                <img src="systems/tor2e/assets/images/icons/rest/campfire.svg"
                     title="{{localize "tor2e.sheet.actions.rest.short.description"}}"
                     alt="{{localize "tor2e.sheet.actions.rest.short.label"}}">
            </a>
            <p>{{localize "tor2e.sheet.actions.rest.short.label"}}</p>
        </div>
        <div class="rest-action flexcol">
            <a class="prolonged-rest" title="{{localize "tor2e.sheet.actions.rest.prolonged.description"}}">
                <img src="systems/tor2e/assets/images/icons/rest/person-in-bed.svg"
                     title="{{localize "tor2e.sheet.actions.rest.prolonged.description"}}"
                     alt="{{localize "tor2e.sheet.actions.rest.prolonged.label"}}">
            </a>
            <p>{{localize "tor2e.sheet.actions.rest.prolonged.label"}}</p>
        </div>
    </div>
</div>